  .main-container__content-grid-column {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(2, 0.2fr);
    @media (max-width: 1050px) {
       display: block;
    }
  }

  .main-container__content-grid-column-desc {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 80% 20%;
    @media (max-width: 1050px) {
       display: block;
    }
  }
  
  .main-container__content-grid {
    display: grid;
  }
  