<div class="main-container">
    <div class="p-grid">
        <div class="p-col-12">
            <h1>Dashboard</h1>
        </div>

        <div class="dashboard-charts">
            <div class="dashboard-charts__panel">
                <p-panel header="Lançamentos por categoria">
                    <canvas id="chartBar">{{ chartBar }}</canvas>
                </p-panel>
            </div>
            <div class="dashboard-charts__panel">
                <p-panel header="Lançamentos por dia">
                    <canvas id="chartLine">{{ chartLine }}</canvas>
                </p-panel>
            </div>
        </div>
    </div>

</div>
