<div class="container">
    <div class="p-grid">
        <div class="p-col-12">
            <h1>Lançamentos</h1>
        </div>
        <div class="p-col-12 p-fluid">
            <label>Descrição</label>
            <input pInputText type="text">
        </div>
        <div class="p-col-12">
            <label>Vencimento</label>
            <div class="p-col-12">
                <input class="vencimento" pInputText type="text">
                <label style="padding: 5px;">até</label>
                <input pInputText type="text">
            </div>
        </div>
        <div class="p-col-12">
            <button pButton class="button" type="submit" label="Pesquisar"></button>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid> 
            </div>
        </div>
        <a class="button" pButton label="Novo Lançamento"></a>
    </div>
</div>