<div class="main-container">
    <form autocomplete="off" (ngSubmit)="pesquisarComPaginacao()">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Lançamentos</h1>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Descrição</label>
                <input upperCaseNoCharacters pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
            </div>

            <div class="p-col-12">
                <label>Vencimento</label>
                <div class="p-col-12">
                    <p-calendar dateFormat="dd/mm/yy" name="vencimentoInicio"
                        [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>
                    <label style="padding: 5px;">até</label>
                    <p-calendar dateFormat="dd/mm/yy" name="vencimentoFim"
                        [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
                </div>
            </div>

            <div class="p-col-12">
                <button pButton class="button" type="submit" label="Pesquisar"></button>
            </div>

            <div class="p-grid">
                <div class="p-col-12">
                    <!--Ao carregar a página o método onLazyLoad é executado e já é realizado uma pesquisa
                        assim não precisa chamar a chamada do método de pesquisa no componente, senão
                        será realizado duas pesquisas -->
                    <p-table [value]="lancamentos" [paginator]="true" [rows]="filtro.size" [lazy]="true" [totalRecords]="totalRegistros"
                    (onLazyLoad)="aoMudarPagina($event)" #tabela>
                
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="main-container__col-data-header">Pessoa</th>
                            <th class="main-container__col-data-header">Descrição</th>
                            <th class="main-container__col-data-header">Vencimento</th>
                            <th class="main-container__col-data-header">Pagamento</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </ng-template>
                   
                    <ng-template pTemplate="body" let-lancamento>
                        <tr>
                            <td>
                                <span class="p-column-title">Pessoa</span>
                                {{ lancamento.pessoa.nome }}
                            </td>
                            <td>
                                <span class="p-column-title">Descrição</span>
                                {{ lancamento.descricao }}
                            </td>
                            <td class="main-container__col-data">
                                <span class="p-column-title">Vencimento</span>
                                {{ lancamento.dataVencimento }}
                            </td>
                            <td class="main-container__col-data">
                                <span class="p-column-title">Pagamento</span>
                                {{ lancamento.dataRecebimentoPagamento }}
                            </td>
                            <td class="main-container__col-data" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                                <span class="p-column-title">Valor</span>
                                {{ lancamento.valor | currency : 'BRL'}}
                            </td>
                           <td class="main-container__col-acoes">
                                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" (click)="editar(lancamento)"></a>
                                <button pButton icon="pi pi-trash" (click)="confirmarExclusao(lancamento)" pTooltip="Excluir" tooltipPosition="top"></button> 
                            </td>
                        </tr>
                    </ng-template>
                   <ng-template ngIf*="lancamentos.length == 0" ng pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">
                                Nenhum lançamento encontrado
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
            </div>
            <a style="margin-top: 5px; text-decoration: none;" routerLink="/lancamentos/novo" pButton label="Novo Lançamento"></a>
        </div>
    </form>
</div>