.content {
  display: grid;
  /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
  grid-template-columns: repeat(2, 1fr);
  /* espaço entre um elemento interno e outro */
  grid-gap: 10px;
  width: 300px;
}

.content-flex a {
  margin-top: 15px;
}

.content-grid {
  display: grid;
  column-gap: 5px;
  @media (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
  }
}

.content-grid-child {
  display: grid;
}

.descricao {
  width: auto;
  @media (min-width: 1200px) {
      width: 950px;
  }
}