<nav class="navbar">
  <div class="navbar__menu-container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" (click)="exibindoMenu = !exibindoMenu"><i
            class="pi pi-bars"></i>
        </a>
      </div>
    </div>
  <ul class="navbar__menu" [hidden]="!exibindoMenu">
    <li class="navbar__menu__usuario">José da Silva</li>
    <li class="navbar__menu__menuitem"><a href="#">Lançamentos</a></li>
    <li class="navbar__menu__menuitem"><a href="#">Pessoas</a></li>
    <li class="navbar__menu__menuitem"><a href="#">Logout</a></li>
  </ul>
</div>
</nav>