
.navbar {
    padding: 20px 0 10px;
    background-color: #1e94d2;
}

.navbar__menu-container {
    margin-left: 30px;
}

.p-col-12 a {
    color: #fff;
}

.navbar__menu {
    @media (min-width: 1200px) {
        width: 210px;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 9998;

    background-color: #3a3633;

    list-style: none;
}

.navbar__menu__usuario {
    padding: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar__menu__menuitem {
    padding: 15px;
}

.navbar__menu__menuitem a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar__menu__menuitem a:hover {
    color: #fff;
}

.navbar__menu__menuitem--ativo {
    background-color: #494541;
}
