<nav class="navbar">
  <div class="navbar__menu-container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" (click)="exibindoMenu = !exibindoMenu"><i
            class="pi pi-bars"></i>
        </a>
      </div>
    </div>
  <ul class="navbar__menu" [hidden]="!exibindoMenu">
    <li class="navbar__menu__usuario">{{ usuarioLogado }}</li> 
    <li class="navbar__menu__menuitem" routerLinkActive="navbar__menu__menuitem--ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/lancamentos/consulta">Lançamentos</a></li>
    <li class="navbar__menu__menuitem" routerLinkActive="navbar__menu__menuitem--ativo" *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoas/consulta">Pessoas</a></li>
    <li class="navbar__menu__menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>
</div>
</nav>