.button {
  margin-top: 10px;
  margin-bottom: 10px;
}

td,
th {
  padding: 5px !important;
}

th {
  background-color: #f0f0f1 !important;
}

.p-button.p-button-icon-only {
  width: 30px !important;
  height: 20px;
}

.vencimento {
  width: 95px;
}

.button {
  height: 30px;
}

div {
  margin-top: 5px;
}
