.main-container__content-grid {
  display: grid;
  column-gap: 1.25rem;
  grid-template-columns: 80% 20%;
  margin-bottom: 1.25rem;

  @media (max-width: 1050px) {
    display: block;
  }
}

.main-container__content {
  display: grid;
  column-gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.25rem;

  @media (max-width: 1050px) {
    display: block;
  }
}

.main-container__content-grid-child {
  display: grid;
  row-gap: 0.35rem;
}
