<div class="main-container">
    <form [formGroup]="formCadPessoa" (ngSubmit)="onSubmit()">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>{{ state?.atualizar ? 'Alterar Pessoa' : 'Nova Pessoa' }}</h1>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Nome</label>
                <input [ngClass]="{ 'is-invalid': submitted && nome.errors }" pInputText type="text" appInputColorido
                    upperCaseNoCharacters formControlName="nome" placeholder="* Informe o nome">
                <div class="main-container-errors" *ngIf="submitted && nome.errors?.required">Nome é obrigatório</div>
                <div class="main-container-errors" *ngIf="submitted && nome.errors?.minlength">Nome deve ter pelo menos 5 caracteres</div>
            </div>

            <div class="main-container__content-grid" formGroupName="endereco">
                <div class="main-container__content-grid-child">
                    <label>Logradouro</label>
                    <input [ngClass]="{ 'is-invalid': submitted && logradouro?.errors }" upperCaseNoCharacters
                        pInputText type="text" formControlName="logradouro" placeholder="* Informe o logradouro">
                    <div class="main-container-errors" *ngIf="submitted && logradouro?.errors?.required">Logradouro é obrigatório</div>
                </div>
                <div class="main-container__content-grid-child">
                    <label>Número</label>
                    <input [ngClass]="{ 'is-invalid': submitted && numero?.errors }"  pInputText type="text" formControlName="numero" placeholder="* Infome o número">
                    <div class="main-container-errors" *ngIf="submitted && numero.errors?.required">Numero é obrigatório</div>
   
                </div>
            </div>

            <div class="main-container__content" formGroupName="endereco">
                <div class="main-container__content-grid-child">
                    <label>Complemento</label>
                    <input pInputText type="text" upperCaseNoCharacters formControlName="complemento">
                    <div [ngStyle]="{'margin-bottom':submitted && (cep.errors || bairro.errors)?'20px':'' }"></div>
                </div>
                <div class="main-container__content-grid-child">
                    <label>Bairro</label>
                    <input [ngClass]="{ 'is-invalid': submitted && bairro.errors }" pInputText type="text"
                        upperCaseNoCharacters formControlName="bairro" placeholder="* Infome o bairro">
                    <div class="main-container-errors" *ngIf="submitted && bairro.errors?.required">Bairro é obrigatório</div>
                </div>
                <div class="main-container__content-grid-child">
                    <label>CEP</label>
                    <input [ngClass]="{ 'is-invalid': submitted && cep.errors }" pInputText type="text"
                        formControlName="cep" mask="00000-000" maxlength="9" placeholder="* Informe o CEP">
                    <div class="main-container-errors" *ngIf="submitted && cep.errors?.required">Cep é obrigatório</div>
                </div>
            </div>

            <div class="main-container__content-grid" formGroupName="endereco">
                <div class="main-container__content-grid-child">
                    <label>Cidade</label>
                    <input [ngClass]="{ 'is-invalid': submitted && cidade.errors }" pInputText type="text"
                        upperCaseNoCharacters formControlName="cidade" placeholder="* Informe a cidade">
                    <div class="main-container-errors" *ngIf="submitted && cidade.errors?.required">Cidade é obrigatório</div>
                </div>
                <div class="main-container__content-grid-child">
                    <label>Estado</label>
                    <input [ngClass]="{ 'is-invalid': submitted && estado.errors }" style="width: 200px;" pInputText
                        type="text" upperCaseNoCharacters formControlName="estado" placeholder="* Informe o estado">
                    <div class="main-container-errors" *ngIf="submitted && estado.errors?.required">Estado é obrigatório</div>
                </div>
            </div>

            <div class="main-container__content-button">
                <button pButton type="submit" label="Salvar"></button>
                <a routerLink="/pessoas/consulta">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>