/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}

label {
    font-weight: bold;
    margin: 0.2em;
    font-size: 16px;
}

.container {
    margin-left: 10px;
    margin-right: 5px;
    /*se na tela (navegador) tiver no minino 1200 px, aplica as regras da classe container*/
    @media (min-width: 1200px) {
        width: 1170px;
        margin: 0 auto;
    }
}

.col-valor-header {
    width: 120px;
}

.col-valor {
    text-align: right !important;
}

.col-data-header {
    width: 120px;
}

.col-data {
    text-align: center !important;
}

.col-acoes-header {
    width: 115x;
}

.col-acoes {
    width: 115px;
    //ajusta os icones de acordo com o tamanho da tela
    max-width: fit-content;
    margin-left: auto;
}

.col-acoes button {
    margin-left: 5px;
}

td {
    padding: 5px !important;
}

th {
    background-color: #e6e6fa !important;
    padding: 5px !important;
}

.p-button {
    margin-top: 10px;
}

div {
    margin-top: 5px;
}

table {
    margin-top: 20px;
}

.content-flex {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.content-flex a {
    text-decoration: none;
    margin-top: 20px;
    color: #333ab7;
}
