/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}

label {
    font-weight: bold;
    margin: 0.2em;
    font-size: 16px;
}

td {
    padding: 3px !important;
}

th {
    background-color: #e6e6fa !important;
    padding: 5px !important;
}

div {
    margin-top: 5px;
}

table {
    margin-top: 20px;
}

button {
    width: 100px;
    height: 30px;
}

input {
    height: 30px;
}

h1 {
    margin-top: 0px;
    font-weight: 400;
    margin-bottom: 0px;
}

.main-container {
    margin-left: 20px;
    padding: 5px;
    margin-right: 20px;
    /*se na tela (navegador) tiver no minino 1200 px, aplica as regras da classe container*/
    @media (min-width: 1200px) {
        width: 1170px;
        margin: 0 auto;
    }
}

.is-invalid {
    border-color: red;
}

.main-container-errors {
    color: red;
    margin-left: 5px;
}

.main-container__content-button {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.main-container__content-button a {
    text-decoration: none;
    margin-top: 8px;
    color: #333ab7;
}

.main-container__col-acoes {
    //ajusta os icones de acordo com o tamanho da tela
    max-width: fit-content;
    margin-left: auto;
    width: 70px;
}


.main-container__col-acoes button {
    margin-left: 5px;
}

.main-container__col-acoes .p-button.p-button-icon-only {
   width: 25px !important;
   height: 20px !important;
}

.main-container .p-buttonset .p-button:first-of-type {
    height: 30px !important;
  }

  .main-container .p-buttonset .p-button:last-of-type {
    height: 30px !important;
  }

  .p-dialog .p-dialog-footer {
      text-align: center;
      margin-top: 0px;
  }

  .p-dialog {
    font-family: Arial, Helvetica, sans-serif;
}

  .p-confirm-dialog .p-dialog-content {
    margin-top: 0px;
  }


